{%  extends '::base.html.twig' %}
{% block head %}
	
{% endblock %}

{% block body %}
<div class="container">
      <div class="page-header">
        <h1>My Resume!</h1>
      </div>
<div class ="col-md-12 resume">
			
          <object class="resume" data="/MySymfony/web/bundles/images/Resume-Guy-Stitt.pdf" type="application/pdf" width="850" height="500">
  			alt : <a href="/MySymfony/web/bundles/images/Resume-Guy-Stitt.pdf">Resume-Guy-Stitt.pdf</a>
		</object>

	</div>
</div>
{% endblock %}


